.home {
    background-image: url('../../../assets/bg-images/photo-1513104890138-7c749659a591.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 91%;
    margin-top: 4%;
}

#text {
    /* color: #ffb116; */
    color: whitesmoke;
    margin-top: 7%;
    margin-left: 5%;
    font-family: 'Pathway Gothic One', sans-serif;
    width: max-content;
    height: max-content;
    display: inline-block;
    font-size: 6em;
    text-align: center;
}

.home>p {
    width: max-content;
    color: #ffffff;
    margin-left: 4%;
    margin-top: 3%;
    width: 35%;
    font-size: 1.2em;
    line-height: 1.6em;
}

.about {
    background-color: #ffffe5;
    height: 50%;
}

.abt {
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 2%;
    height: 90%;
    text-align: center;
}

.abt>mat-card>p {
    font-size: 12px;
    letter-spacing: 0.1em;
}

.menu {
    height: 100%;
}

.pizzas {
    background-image: url(https://www.wentzstore.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/f/u/fundo_1821_capa__220x170.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}