<section class='home'>
  <div id='text'>
    YUMMI PIZZA
  </div>
  <p>
    Yummi Pizza is the world’s greatest. Nothing says “I love you,” “I’m sorry,” or “Let’s be friends,” better than Yummi Pizza.<br>
    It’s a universal love language, and is perfect at <span style='background-color:#ffb116;font-style: italic;'>any time</span>,<br> for <span style='font-style: italic;background-color:#ffb116;'>any occasion</span>.
  </p>
  <button mat-button style='background-color: #ffb116;margin-top: 5%;margin-left: 15%;color:white;font-style:'>ORDER NOW</button>
</section>

<section class='about'>
  <div class='abt container row'>
    <mat-card class='col-md-3' style="background:none;">
      <img src="../../../assets/icons/piece.svg" width="35%;" style="padding-top:5%;">
      <h5 style="margin-top:2%;font-family: 'Rancho', cursive;letter-spacing:0.15em;font-weight:bold;color:#ffb116;">QUALITY PRODUCTS</h5>
      <p style="line-height:1.5em;">
        We are dedicated to providing satisfactory pizza. Makes you come back everytime.
      </p>
    </mat-card>

    <mat-card class='col-md-3' style="background:none;">
      <img src="../../../assets/icons/food.svg" width="35%;" style="padding-top:5%;">
      <h5 style="margin-top:2%;font-family: 'Rancho', cursive;letter-spacing:0.15em;font-weight:bold;color:#ffb116;">FAST DELIVERY</h5>
      <p style="line-height:1.5em;">
        Fast and quick response to an order made to us is one of our core values. We value you and would not want to keep you waiting
      </p>
    </mat-card>

    <mat-card class='col-md-3' style="background:none;">
      <img src="../../../assets/icons/family.svg" width="35%;" style="padding-top:5%;">
      <h5 style="margin-top:2%;font-family: 'Rancho', cursive;letter-spacing:0.15em;font-weight:bold;color:#ffb116;">FAMILY RECIPES</h5>
      <p style="line-height:1.5em;">
        We deliver pizza that the whole family can enjoy and in variety of flavors for everyone.
      </p>
    </mat-card>

  </div>
</section>

<section class="menu">
  <div class="container-fluid row">
    <img  style="" src='https://www.freeiconspng.com/uploads/pizza-png-25.png' width='30%'>
    <div style="text-align:center;width:max-content;height:max-content;margin:0 auto;">
      <h5 style="font-family: 'Rancho', cursive;letter-spacing:0.2em;font-weight:bold;color:#ffb116;">ALWAYS QUALITY</h5>
      <h1 style="letter-spacing:0.2em;font-weight:bold;font-size:2em;font-family: 'Rubik', cursive;">Discover Our Pizza</h1>
    </div>
  </div>

  <div class="container-fluid row" style="margin-right:0;margin-left:0;padding:0;position:initial;">
    <div style="width:70%;margin:0 auto;">
      <div class="row" style="margin:0;justify-content:space-around;">
        <div class="col-md-3" style="padding-top:2rem;min-height:40%;" *ngFor="let p of pizza">
          <mat-card class="pizzas">
            <h4 style="font-size:1.5rem;font-family: 'Rancho', cursive;letter-spacing:0.1em;font-weight:bold;color:#ffb116;">{{ p.name }}</h4>
            <p style="text-align:center;">
              {{ p.description }}
            </p>
            <p style="vertical-align: bottom;flex-direction: column;">
              Size: &nbsp;<span style="font-style:italic;font-size:1.2rem;">{{ p.size }}</span>
              <span style="float:right;font-size:1.5rem;font-weight:bold;">
                &pound;{{ p.cost }}.<sub>00</sub>
              </span>
            </p>
            <mat-form-field style="color:white !important;">
              <mat-label style="color:white !important;">Quantity</mat-label>
              <input type="number" matInput [formControl]="quantity" style="color:white !important;">
            </mat-form-field>
            <button mat-raised-button style="vertical-align: bottom;width:100%;background-color:#ffb116;" (click)="createOrder(p.id)">Add to Cart</button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>

<sections class="orders" *ngIf="singlePizza">

  <mat-card style="width:80%;margin:0 auto;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper style="">
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Pizza selected</ng-template>

        <div class="" style="padding-top:2rem;min-height:40%;">
          <mat-card>
            <h4 style="font-size:1.5rem;font-family: 'Rancho', cursive;letter-spacing:0.1em;font-weight:bold;color:#ffb116;">{{ singlePizza.name }}</h4>
            <p style="">
              {{ singlePizza.description }}
            </p>
            <p>Qnt. : {{order.quantity}}</p>
            <p style="vertical-align: bottom;flex-direction: column;">
              Size: &nbsp;<span style="font-style:italic;font-size:1.2rem;">{{ singlePizza.size }}</span>
              <span style="float:right;font-size:1.5rem;font-weight:bold;">
                Unit Price: &pound;{{ singlePizza.cost }}.<sub>00</sub>
              </span>
            </p>
          </mat-card>
        </div>

        <div>
          <button mat-button matStepperNext>Add Contact</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
            ADress
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</sections>
<div class="try" *ngIf="singlePizza">Content to render when condition is true.</div>

