<h3 mat-dialog-title>Hi {{data.name}}</h3>

<div mat-dialog-content>
  <div class="col-md-4" style="padding-top:2rem;min-height:40%;">
    <mat-card class="pizzas">
      <h4 style="font-size:1.5rem;font-family: 'Rancho', cursive;letter-spacing:0.1em;font-weight:bold;color:#ffb116;">{{ singlePizza.name }}</h4>
      <p style="text-align:center;">
        {{ singlePizza.description }}
      </p>
      <p style="vertical-align: bottom;flex-direction: column;">
        Size: &nbsp;<span style="font-style:italic;font-size:1.2rem;">{{ p.size }}</span>
        <span style="float:right;font-size:1.5rem;font-weight:bold;">
          &pound;{{ p.cost }}.<sub>00</sub>
        </span>
      </p>
      <button mat-raised-button style="vertical-align: bottom;width:100%;background-color:#ffb116;" (click)="openDialog(p.id)">Add to Cart</button>
    </mat-card>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
