<!doctype html>
<html lang="en" style='height:auto !important;'>
  <head>
    <meta charset="utf-8">
    <title>YummiPizza</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="mat-typography" style='height:auto !important;position:fixed;top:0;width:100%;'>
    <mat-toolbar style='box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color:#c06a00;'>
      <mat-toolbar-row style="padding:0;">
        <span style="color:whitesmoke;">Yummi Pizza</span>
        <span class="example-spacer"></span>
        <a style="width:5%;">
          <img src="../assets/icons/commerce-and-shopping.svg" width="70%" style="margin-right:1%;">
        </a>
        <div style="background-color:white; height:100%;width:13%;text-align:center;">
          <span style="font-size:0.8em;">(089) 4621-0073</span><br>
          <span style="font-size:0.5em;">Call Us for more Information</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </body>
</html>

<router-outlet></router-outlet>
